
<aside>
    <ul class="nav">
        <li class="nav-item">@Html.ActionLink("Add Category","AddCategory","AdminJob")</li>
        <li class="nav-item">@Html.ActionLink("Category List","Index","AdminJob")</li>
        <li class="nav-item">@Html.ActionLink("List Category", "Index", "AdminJob")</li>
        <li class="nav-item">@Html.ActionLink("Subcategory List","Subindex","")</li>
        <li class="nav-item">@Html.ActionLink("Add Subcategory","AddSubcategory","")</li>
        <li class="nav-item">@Html.ActionLink("Add Product", "Addproduct", "")</li>
        <li class="nav-item">@Html.ActionLink("Add Image", "UploadFile", "")</li>
        <li class="nav-item">@Html.ActionLink("Show Image", "ShowImages", "")</li>
        <li class="nav-item">@Html.ActionLink("Product List", "Proindex", "")</li>
    </ul>

</aside>
